*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(10, 5, 87);
}

.child_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
button{
    cursor: pointer;
    width: 6rem;
    height: 3rem;
    border-radius: 1rem;
    border: none;

}
button:hover{
    background-color: rgb(151, 151, 209);
    color: white;
}